:root {
  --wallust-bg: #1E1E2E;
  --wallust-fg: #CDD6F4;
  --wallust-accent: #89B4FA;

  --lwt-accent-color: #1E1E2E !important;
  --lwt-accent-color-inactive: #1E1E2E !important;
  --lwt-text-color: #CDD6F4 !important;
  --lwt-selected-tab-background-color: #89B4FA !important;
  --lwt-selected-tab-text-color: #1E1E2E !important;
  --toolbar-bgcolor: #1E1E2E !important;
  --toolbar-color: #CDD6F4 !important;
  --toolbar-field-background-color: #1E1E2E !important;
  --toolbar-field-color: #CDD6F4 !important;
  --arrowpanel-background: #1E1E2E !important;
  --arrowpanel-color: #CDD6F4 !important;
  --sidebar-background-color: #1E1E2E !important;
  --sidebar-text-color: #CDD6F4 !important;
}
