:root {
  --wallust-bg: #050505;
  --wallust-fg: #F0F0F0;
  --wallust-accent: #626262;

  --lwt-accent-color: #050505 !important;
  --lwt-accent-color-inactive: #050505 !important;
  --lwt-text-color: #F0F0F0 !important;
  --lwt-selected-tab-background-color: #626262 !important;
  --lwt-selected-tab-text-color: #050505 !important;
  --toolbar-bgcolor: #050505 !important;
  --toolbar-color: #F0F0F0 !important;
  --toolbar-field-background-color: #050505 !important;
  --toolbar-field-color: #F0F0F0 !important;
  --arrowpanel-background: #050505 !important;
  --arrowpanel-color: #F0F0F0 !important;
  --sidebar-background-color: #050505 !important;
  --sidebar-text-color: #F0F0F0 !important;
}
